<div class="page-wrap">
  
  <main class="content">
    <div class="matero-row" fxLayout="row wrap">


      <div class="matero-col" fxFlex.gt-sm="22" fxFlex.gt-xs="200" fxFlex="100">
        <mat-card>
          <mat-card-content routerLink="/administrarRol" class="flex-item">
            <mat-icon class="icono">person_add</mat-icon>
            <mat-card-title>
              <h5>Nuevo Rol</h5>
            </mat-card-title>
          </mat-card-content>

        </mat-card>
      </div>

      <div class="matero-col" fxFlex.gt-sm="22" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card>
          <mat-card-content class="flex-item">
            <mat-icon class="icono">find_in_page</mat-icon>
            <mat-card-title>
              <h5>Visualizar Rol</h5>
            </mat-card-title>
          </mat-card-content>
        </mat-card>
      </div>


    </div>
    <router-outlet></router-outlet>
  </main>

</div>