<div style="width: 100%;" fxLayoutAlign="center center">
    <div class="columna" style="height: inherit;" fxLayoutAlign="center center">
        <div style="width: 85%;">
            <mat-card class="box">
                <mat-card-header fxLayoutAlign="center center">
                    <h2>Trayectoria</h2>
                </mat-card-header>

                <mat-card-content>
                    <form [formGroup]="form">
                        <div fxLayout="row wrap" fxLayoutGap="3px grid">

                            <div [hidden]="true">
                                <input matInput placeholder="id" formControlName="id">
                            </div>

                            <div fxFlex="100" fxFlex.lt-sm="100">
                                <mat-form-field style="width: 95%;">
                                    <input matInput placeholder="Ingresa el nombre" formControlName="nombre" required>
                                    <mat-error *ngIf="f.nombre.errors?.required" class="invalido">
                                        Nombre es requerido
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="50" fxFlex.lt-sm="100">
                                <mat-form-field style="width: 90%;">
                                    <input matInput class="input" type="text" [(ngModel)]="autocompleteInput"
                                        #addresstext (setAddress)="getAddress($event)" adressType="geocode"
                                        placeholder="Añadir Origen (Punto A)" formControlName="origen" required>
                                    <mat-error *ngIf="f.nombre.errors?.required" class="invalido">
                                        Origen es requerido
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="50" fxFlex.lt-sm="100">
                                <mat-form-field style="width: 90%;">
                                    <input matInput class="input" type="text" [(ngModel)]="autocompleteInput2"
                                        #addresstext2 (setAddress)="getAddress2($event)" adressType="geocode"
                                        placeholder="Añadir Destino (Punto B)" formControlName="destino" required>
                                    <mat-error *ngIf="f.nombre.errors?.required" class="invalido">
                                        Destino es requerido
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="50" fxFlex.lt-sm="100">
                                <mat-form-field style="width: 90%;">
                                    <input matInput class="input" type="text" [(ngModel)]="autocompleteInput3"
                                        #addresstext3 (setAddress)="getAddress3($event)" adressType="geocode"
                                        placeholder="Paradas" formControlName="paradas">
                                </mat-form-field>
                            </div>

                            
                            <div fxFlex="25" fxFlex.lt-sm="100" *ngIf="habilitarBoton()!=false">
                                <button mat-raised-button style="background-color:rgba(226, 19, 19, 0.7);color: white;" (click)="crearParada()" class="btn-block">
                                    <mat-icon>add</mat-icon> Agregar Parada
                                </button>
                            </div>

                            <div fxFlex="25" fxFlex.lt-sm="100" *ngIf="habilitarBoton()!=true">
                                <button mat-raised-button style="background-color:rgba(0, 0, 0, 0.7);color: white;" disabled>
                                    <mat-icon>add</mat-icon> Agregar Parada
                                </button>
                            </div>

                            <mat-table [dataSource]="dataSource" matSort fxFlex="100" fxFlex.lt-sm="100">

                                <ng-container matColumnDef="parada">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Parada
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.parada + 1}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="nombre">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción de parada
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="eliminar">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción de parada
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <button mat-icon-button color="accent" matTooltip="Eliminar todas las paradas"
                                            (click)="removeRows(row)" class="btn-block">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>

                            <mat-paginator [pageSize]="3" [pageSizeOptions]="[3]">
                            </mat-paginator>
                        </div>

                        <mat-card-content fxLayoutAlign="center center">
                            <div style="width: 60%;">
                                <div fxFlex="50" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                                    <button mat-stroked-button color="accent" class="btn-block" (click)="operar()"
                                        [disabled]="form.invalid">Guardar</button>
                                </div>
                                <div fxFlex="50" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                                    <button mat-stroked-button color="warn"
                                        routerLink="/moduloRutas/visualizarTrayectoria"
                                        class="btn-block">Cancelar</button>
                                </div>
                            </div>
                        </mat-card-content>
                    </form>
                </mat-card-content>

            </mat-card>

        </div>
    </div>

    <div class="columna" style="height: inherit;" fxLayoutAlign="center center">
        <div #map
            style="width: 90%;height:550px;border-color: black;border-style: solid;border-width: 1px;margin-top: 1%;">
        </div>
    </div>
</div>