<router-outlet></router-outlet>
<div *ngIf="route.children.length == 0">
    <div fxLayout="column" fxLayoutAlign="none none">
        <div fxFlex="10">
            <div fxLayout="row" fxLayoutAlign="center center" style="margin-top:2%">
                <div fxFlex="25" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                    <mat-form-field style="width: 80%;">
                        <input matInput [matDatepicker]="picker" placeholder="Selecciona una fecha de inicio"
                            [(ngModel)]="fechaInicio" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div fxFlex="25" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                    <mat-form-field style="width: 80%;">
                        <input matInput [matDatepicker]="picker2" placeholder="Selecciona una fecha de fin"
                            [(ngModel)]="fechaFin" required>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>

                <div fxFlex="25" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                    <mat-form-field>
                        <mat-label>Tipo de gráfica</mat-label>
                        <mat-select [(ngModel)]="tipo">
                            <mat-option *ngFor="let tipo of tipos" [value]="tipo.value"> {{tipo.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex="25" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                    <button mat-raised-button (click)="fechaCorrecta()" class='color' fxLayoutAlign="center center">
                        <mat-icon style="width: inherit; height: inherit;color: black;">pie_chart</mat-icon>
                        <span style="color: black;height: inherit;">Graficar</span>
                    </button>

                    <button mat-raised-button
                        style="background-color: rgba(18, 8, 158, 0.404);  width: 65%; height:70px;"
                        fxLayoutAlign="center center" (click)="verForms()">
                        <mat-icon style="width: inherit; height: inherit;color: black;">assignment</mat-icon>
                        <span style="color: black;height: inherit;">Ver formularios</span>
                    </button>
                </div>
            </div>
        </div>
        <div fxFlex="85">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="column" [hidden]="!chart" fxFlex="70">
                    <canvas id="canvas">{{ chart }}</canvas>
                </div>
                <div fxLayout="column" *ngIf="!chart" fxFlex="70">
                    <h3>No existen registros en las fechas seleccionada</h3>
                </div>

            </div>
        </div>
        <div fxFlex="5" style="width: 100%;" fxLayoutAlign="center center" *ngIf="tipo == 'barras'">

            <div fxLayout="row" fxLayoutAlign="space-evenly center" style="margin-top: 2%; width: 60%;">
                <button mat-raised-button
                    style="width: 20%; background-color: rgba(243, 14, 14, 0.21);  pointer-events: none;">Sugerencias</button>
                <button mat-raised-button
                    style="width: 20%; background-color: rgba(14, 113, 243, 0.21); pointer-events: none;">Quejas</button>
                <button mat-raised-button
                    style="width: 20%; background-color: rgba(243, 220, 14, 0.25); pointer-events: none;">Novedades</button>
            </div>
        </div>
    </div>
</div>