ion-card .header-img {
    width: 100%;
    height: 120px;
  }
  
   ion-card ion-card-subtitle {
    color: var(--text-lighter);
  }
  
   ion-card ion-card-title {
    color: var(--text-darker);
  }
  
   ion-card ion-card-content {
    color: var(--text-light);
  }
  
   ion-card ion-list ion-item {
    --padding-start: 0;
  }