<router-outlet></router-outlet>
<div class="matero-row" fxLayout="row wrap" *ngIf="route.children.length == 0">
    <div class="matero-col" fxFlex.gt-sm="30" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card class="box" >
            <mat-card-content routerLink="/moduloRutas/visualizarConductores" class="flex-item">
                <mat-icon class="icono">assignment_ind</mat-icon>
                <mat-card-title>
                    <h5> Conductores</h5>
                </mat-card-title>
            </mat-card-content>

        </mat-card>
    </div>

    <div class="matero-col" fxFlex.gt-sm="30" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card class="box">
            <mat-card-content class="flex-item" routerLink="/moduloRutas/visualizarBuses">
                <mat-icon class="icono">directions_bus</mat-icon>
                <mat-card-title>
                    <h5> Polibuses</h5>
                </mat-card-title>
            </mat-card-content>
        </mat-card>
    </div>


    <div class="matero-col" fxFlex.gt-sm="30" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card class="box">
            <mat-card-content class="flex-item" routerLink="/moduloRutas/visualizarTrayectoria">
                <mat-icon class="icono">timeline</mat-icon>
                <mat-card-title>
                    <h5> Trayectorias</h5>
                </mat-card-title>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="matero-col" fxFlex.gt-sm="30" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card class="box" >
            <mat-card-content class="flex-item" routerLink="/moduloRutas/visualizarHorarios">
                <mat-icon class="icono">alarm</mat-icon>
                <mat-card-title>
                    <h5> Horarios</h5>
                </mat-card-title>
            </mat-card-content>

        </mat-card>
    </div>

    <div class="matero-col" fxFlex.gt-sm="30" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card class="box">
            <mat-card-content class="flex-item" routerLink="/moduloRutas/visualizarRutas">
                <mat-icon class="icono">map</mat-icon>
                <mat-card-title>
                    <h5> Rutas</h5>
                </mat-card-title>
            </mat-card-content>
        </mat-card>
    </div>

    <div  fxLayoutAlign="end end">
        <button mat-fab color="accent" style="float: right" (click)="abrirDialogo()">
            <mat-icon>contact_support</mat-icon>
        </button>
    </div>

</div>