<section id="intro-section" class="home-intro-section">
  <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
    <div fxFlex="50">
      <h1 class="home-intro-title">POLIBUSES APP</h1>
      <div class="home-intro-desc">
        Maneja de manera sencilla toda la información del servicio de transporte estudiantil(Polibuses) desde un
        solo lugar. <br>
        El Sistema Web <b>PolibusesApp</b> te ofrece los siguientes beneficios:
      </div>
      <div class="intro-list" fxLayout="column" fxLayoutGap="30px">
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Administración de trayectorias,
          horarios y rutas
        </div>
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Administración de buses y conductores
        </div>
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Gestión de usuarios
        </div>
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Envío de notificaciones
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column">
        <div fxLayout="column" fxLayout.lt-sm="column">
          <img class="circular--square" src="assets/firebase.png" width="15%" />
        </div>
        <span fxFlex.lt-md="30px" fxFlex="0"></span>
        <div fxLayout="column" fxLayout.lt-sm="column">
          <img class="circular--square" src="assets/angularS.png" width="15%" />
        </div>
        <span fxFlex.lt-md="30px" fxFlex="0"></span>
        <div fxLayout="column" fxLayout.lt-sm="column">
          <img class="circular--square" src="assets/mapsS.jpg" width="15%" />
        </div>
      </div>
    </div>
    <span fxFlex.lt-md="30px" fxFlex="0"></span>
    <div fxFlex="50">
      <div class="intro-product">
        <img mat-card-image style="width: 80%;"
          src="assets/busLanding.png"
          [style.margin]="'0 !important'">
      </div>
    </div>
  </div>
</section>

<section id="service-section" class="home-section">
  <div class="container">
    <div class="section-header">
      <h2>Descarga la App Móvil</h2>
      <p>Nuestra aplicación móvil te permite...
      </p>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="33">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>navigation</mat-icon>
            </div>
            <div style="background-image: url('assets/route.jpg');background-size: cover;height: 150px;">
              <h1 class="m-0 font-light"
                style="margin-top: 20%;margin-left: 15%;color: black;background-color: rgba(255, 255, 255, 0.7);width: 70%;text-align: center;border-radius: 10%;">
                RUTAS</h1>
            </div>

            <p class="m-0 description" style="text-align: justify;">Busca rutas cercana, despliega la
              información detallada, navega en un mapa interactivo que te muestra la ruta, paradas y horarios...
            </p>
            <span fxFlex></span>

          </div>
        </mat-card>
      </div>

      <div fxFlex="33">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>notifications_active</mat-icon>
            </div>
            <div style="background-image: url('assets/notificaciones.jpg');background-size: cover;height: 150px;">
              <h1 class="m-0 font-light"
                style="margin-top: 20%;margin-left: 15%;color: black;background-color: rgba(255, 255, 255, 0.7);width: 70%;text-align: center;border-radius: 10%;">
                NOTIFICACIONES</h1>
            </div>

            <p class="m-0 description" style="text-align: justify;">Recibe notificaciones de las noticias más
              importantes
              del servicio de transporte estudiantil y de las respuestas de los formularios enviados...
            </p>


            <span fxFlex></span>
          </div>
        </mat-card>
      </div>

      <div fxFlex="33">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>insert_drive_file</mat-icon>
            </div>

            <div style="background-image: url('assets/formulario.png');background-size: cover;height: 150px;">
              <h1 class="m-0 font-light"
                style="margin-top: 20%;margin-left: 15%;color: black;background-color: rgba(255, 255, 255, 0.7);width: 70%;text-align: center;border-radius: 10%;">
                FORMULARIOS</h1>
            </div>
            <p class="m-0 description">Tu oponión es importante para nosotros, por eso la
              aplicación móvil dispone de un formulario con diferentes opciones para comunicarte con nosotros...
            </p>
            <span fxFlex></span>
          </div>
        </mat-card>
      </div>

    </div>
  </div>
</section>

<footer class="home-footer">
  <section class="home-footer-top" style="padding-left: 10%; padding-right: 10%;margin-top: 5%;">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>Servicio Polibuses</b></h4>
          <p>Como un servicio al alumnado, la EPN cuenta con recorridos de buses en la mañana y en la noche, para
            facilitar la movilización de sus estudiantes y personal. Los recorridos son regulares
            y cubren rutas que abarcan el norte, centro y sur de la ciudad, incluyendo los valles. .</p>
          <button mat-raised-button color="accent"><a
              href="https://www.epn.edu.ec/institucion/servicios-internos/transporte/" target="_blank"
              style="color: white;">Más información</a></button>
        </div>
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>Contactos</b></h4>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">email</mat-icon>
              <h5 matLine><b>Correos</b></h5>
              <p matLine> lizbeth.borja@epn.edu.ec </p>
              <p matLine> byron.paredes@epn.edu.ec </p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">location_on</mat-icon>
              <h5 matLine><b>Dirección</b></h5>
              <p matLine>Quito, Pichincha</p>
              <p matLine>Av. Ladrón de Guevara 253, Quito 170517 </p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </section>
</footer>