<div fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header fxLayout="row" fxLayoutAlign="center center">
            <mat-card-title>
                <h4>Llenar información de la ruta</h4>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="operar()" class="matero-form-horizontal">
                <div fxLayout="row wrap" fxLayoutGap="6px grid">

                    <div [hidden]="true">
                        <mat-form-field>
                            <input matInput placeholder="id" formControlName="id">
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                        <mat-form-field style="width: 90%;">
                            <mat-label>Nombre de la ruta</mat-label>
                            <input matInput placeholder="Ingresa un nombre a la ruta" formControlName="nombre" [(ngModel)]="nombre" style="width: 90%;">
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                        <mat-form-field style="width: 90%;">
                            <mat-label>Descripción</mat-label>
                            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" required
                                formControlName="descripcion" style="width: 100%;"></textarea>
                        </mat-form-field>
                    </div>

                    <div fxFlex="50" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                        <mat-form-field style="width: 85%;">
                            <mat-label>Trayectoria</mat-label>
                            <mat-select formControlName="horarios" [ngModel]="horarios" required>
                                <mat-option *ngFor="let t of horarios" [value]="t.id">
                                    {{t.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="50" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                        <mat-form-field style="width: 85%;">
                            <mat-label>Bus</mat-label>
                            <mat-select formControlName="bus" [ngModel]="bus" required>
                                <mat-option *ngFor="let b of bus" [value]="b.id">
                                    {{b.placa}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                        <mat-form-field>
                            <mat-label>Zonas</mat-label>
                            <mat-select formControlName="zona" [ngModel]="zona" required>
                                <mat-option *ngFor="let z of zonas" [value]="z.value">
                                    {{z.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <div fxFlex="100" fxFlex.lt-sm="100">
                        <mat-card-content class="botones">
                            <div fxLayout="row wrap" fxLayoutGap="30px grid">
                                <div fxFlex="50" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                                    <button mat-stroked-button color="accent" class="btn-block"
                                        type="submit">Guardar</button>
                                </div>

                                <div fxFlex="50" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                                    <button mat-stroked-button color="warn" routerLink="/moduloRutas/visualizarRutas"
                                        class="btn-block">Cancelar</button>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>