<div fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>
                <h3>Horario</h3>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="operar()">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="200" fxFlex="100">
                    <div fxLayout="row wrap" fxLayoutGap="6px grid">

                        <div [hidden]="true">
                            <mat-form-field>
                                <input matInput placeholder="id" formControlName="id">
                            </mat-form-field>
                        </div>

                        <div [hidden]="true">
                            <mat-form-field>
                                <input matInput placeholder="idTrayectoria" formControlName="idTrayectoria">
                            </mat-form-field>
                        </div>

                        <div fxFlex="35" fxFlex.lt-sm="100">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Origen</mat-label>
                                <input matInput placeholder="origen" formControlName="origen" 
                                    readonly>
                            </mat-form-field>
                        </div>

                        <div fxFlex="15" fxFlex.lt-sm="100">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Hora Mañana</mat-label>
                                <input matInput type="time" placeholder="hora mañana" formControlName="horaOM" required style="text-align: center;">
                            </mat-form-field>
                        </div>


                        <div fxFlex="35" fxFlex.lt-sm="100">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Destino</mat-label>
                                <input matInput placeholder="destino" formControlName="destino" 
                                    readonly>
                            </mat-form-field>
                        </div>

                        
                        <div fxFlex="15" fxFlex.lt-sm="100">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Horario Mañana</mat-label>
                                <input matInput type="time" placeholder="hora mañana" formControlName="horaDM"
                                 required style="text-align: center;">
                            </mat-form-field>
                        </div>


                        <div fxFlex="35" fxFlex.lt-sm="100">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Origen</mat-label>
                                <input matInput placeholder="destino" formControlName="destino" 
                                    readonly>
                            </mat-form-field>
                        </div>

                        <div fxFlex="15" fxFlex.lt-sm="100">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Horario Noche</mat-label>
                                <input matInput type="time" placeholder="hora noche" formControlName="horaDN"
                                required style="text-align: center;">
                            </mat-form-field>
                        </div>

                        
                        <div fxFlex="35" fxFlex.lt-sm="100">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Destino</mat-label>
                                <input matInput placeholder="origen" formControlName="origen" 
                                    readonly>
                            </mat-form-field>
                        </div>
                        <div fxFlex="15" fxFlex.lt-sm="100">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Hora Noche</mat-label>
                                <input matInput type="time" placeholder="hora noche" formControlName="horaON" required style="text-align: center;">
                            </mat-form-field>
                        </div>
                        

                        <!--Tabla Cargar datos-->
                        <div class="example-container mat-elevation-z1" div fxFlex="100" fxFlex.lt-sm="100" fxLayoutAlign="center center" >
                            <mat-table [dataSource]="dataSource" fxFlex="100" fxFlex.lt-sm="100" style="height: 200px;">

                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center" style="color: black;">Numero
                                    de Parada
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index" fxLayoutAlign="center center">
                                    <input matInput value="{{row.id+1}}" readonly
                                        style="text-align: center;">
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="nombre">
                                <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center" style="color: black;"> Nombre
                                    Paradas
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index" fxLayoutAlign="center center">
                                    <input matInput value="{{row.nombre}}" readonly
                                        style="text-align: center;">
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="horaM">
                                <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center" style="color: black;"> Hora Manana                                    Paradas
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index" fxLayoutAlign="center center">
                                    <input matInput type="time" [value]="row.horarioM" [(ngModel)]="horarioM[i]" [ngModelOptions]="{standalone: true}"
                                        style="text-align: center;">
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="horaN">
                                <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center" style="color: black;"> Hora Noche                                    Paradas
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index" fxLayoutAlign="center center">
                                    <input matInput type="time" [value]="row.horarioN" [(ngModel)]="horarioN[i]" [ngModelOptions]="{standalone: true}"
                                        style="text-align: center;">
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns;">
                            </mat-header-row>
                            <mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        </div>


                        <div fxFlex="100" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                            <mat-card-content class="botones" style="margin-top: 2%;">

                                <div fxFlex="50" fxFlex.lt-sm="100">
                                    <button mat-stroked-button color="accent" class="btn-block"
                                        type="submit">Guardar</button>
                                </div>

                                <div fxFlex="50" fxFlex.lt-sm="100">
                                    <button mat-stroked-button color="warn" routerLink="/moduloRutas/visualizarHorarios"
                                        class="btn-block">Cancelar</button>
                                </div>
                            </mat-card-content>
                        </div>

                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>