/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body {height: 100%;}

body {
  margin: 0;
  padding: 0;
  background-image: url(assets/fondo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  font-family: 'Roboto', sans-serif;
} 

