
.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 2% 2% 2% 2%;
  width: 100%;
  background:rgba(255,255,255);
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 60%;
  margin-top: 1%;
}

.mat-table-sticky {
  background:rgba(0,0,0,0.2);
}


.mat-header-row, .mat-footer-row, .mat-row {
  min-width: 100%; /* 24 columns, 80px each */
}

.example-container {
  height: 200px;
  overflow: auto;
}
