<div fxLayoutAlign="center center">
    <mat-card class="box">
        <div fxLayoutAlign="start">
            <button mat-stroked-button color="warn" matTooltip="Regresar" routerLink="/moduloRutas/visualizarHorarios">
                <mat-icon>first_page</mat-icon>
                Regresar
            </button>
        </div>

        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>
                <h3>Horario</h3>
            </mat-card-title>


        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="form">

                <div fxFlex.gt-sm="100" fxFlex.gt-xs="200" fxFlex="100">

                    <div fxLayout="row wrap" fxLayoutGap="6px grid">

                        <div [hidden]="true">
                            <mat-form-field>
                                <input matInput placeholder="id" formControlName="id">
                            </mat-form-field>
                        </div>

                        <div fxFlex="100" fxFlex.lt-sm="50" fxLayoutAlign="center center">
                            <mat-form-field style="width: 60%;">
                                <mat-label>Trayectoria</mat-label>
                                <mat-select formControlName="trayectoria" (ngModelChange)="onChangeC($event)" required>
                                    <mat-option *ngFor="let t of trayectorias" [value]="t">
                                        {{t.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                        <div fxFlex="35" fxFlex.lt-sm="100">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Origen</mat-label>
                                <input matInput placeholder="origen" formControlName="origen" [(ngModel)]="origen"
                                    readonly>
                            </mat-form-field>
                        </div>

                        <div fxFlex="15" fxFlex.lt-sm="100">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Hora Mañana</mat-label>
                                <input matInput type="time" placeholder="hora mañana" formControlName="horaOM"
                                    [(ngModel)]="horaOM" required style="text-align: center;">
                            </mat-form-field>
                        </div>

                        <div fxFlex="35" fxFlex.lt-sm="100">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Destino</mat-label>
                                <input matInput placeholder="destino" formControlName="destino" [(ngModel)]="destino"
                                    readonly>
                            </mat-form-field>
                        </div>

                        <div fxFlex="15" fxFlex.lt-sm="100">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Horario Mañana</mat-label>
                                <input matInput type="time" placeholder="hora mañana" formControlName="horaDM"
                                    [(ngModel)]="horaDM" required style="text-align: center;">
                            </mat-form-field>
                        </div>

                        <div fxFlex="35" fxFlex.lt-sm="100">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Origen</mat-label>
                                <input matInput placeholder="destino" formControlName="destino" [(ngModel)]="destino"
                                    readonly>
                            </mat-form-field>
                        </div>

                        <div fxFlex="15" fxFlex.lt-sm="100">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Horario Noche</mat-label>
                                <input matInput type="time" placeholder="hora noche" formControlName="horaDN"
                                    [(ngModel)]="horaDN" required style="text-align: center;">
                            </mat-form-field>
                        </div>


                        <div fxFlex="35" fxFlex.lt-sm="100">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Destino</mat-label>
                                <input matInput placeholder="origen" formControlName="origen" [(ngModel)]="origen"
                                    readonly>
                            </mat-form-field>
                        </div>


                        <div fxFlex="15" fxFlex.lt-sm="100">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Hora Noche</mat-label>
                                <input matInput type="time" placeholder="hora noche" formControlName="horaON"
                                    [(ngModel)]="horaON" required style="text-align: center;">
                            </mat-form-field>
                        </div>


                        <div fxFlex="100" fxFlex.lt-sm="100" fxLayoutAlign="center center" *ngIf="!mostrar">
                            <mat-card-content class="botones" style="margin-top: 2%;">
                                <div fxFlex="50" fxFlex.lt-sm="100">
                                    <button mat-stroked-button color="accent" class="btn-block"
                                        (click)="comprobar()">Validar Horarios</button>
                                </div>

                            </mat-card-content>
                        </div>


                        <div class="example-container mat-elevation-z1" div fxFlex="100" fxFlex.lt-sm="100"
                            fxLayoutAlign="center center" *ngIf="mostrar">
                            <mat-table [dataSource]="dataSource" fxFlex="100" fxFlex.lt-sm="100" style="height: 200px;">

                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center"
                                        style="color: black;">Numero
                                        de Parada
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index" fxLayoutAlign="center center">
                                        <input matInput formControlName="numParadas" value="{{row.parada+1}}" readonly
                                            style="text-align: center;">
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="nombre">
                                    <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center"
                                        style="color: black;"> Nombre
                                        Paradas
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index" fxLayoutAlign="center center">
                                        <input matInput formControlName="nomParadas" value="{{row.nombre}}" readonly
                                            style="text-align: center;">
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="horarioM">
                                    <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center"
                                        style="color: black;">
                                        Horario Mañana
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element; let i = index" fxLayoutAlign="center center">
                                        <input matInput type="time" formControlName="horarioM" [(ngModel)]="horarioM[i]"
                                            required style="text-align: center; width: 40%;">
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="horarioN">
                                    <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center"
                                        style="color: rgb(0, 0, 0);">
                                        Horario Noche
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element; let i = index" fxLayoutAlign="center center">
                                        <input matInput type="time" formControlName="horarioN" [(ngModel)]="horarioN[i]"
                                            required style="text-align: center;width: 40%;">
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns;">
                                </mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                        </div>

                        <div fxFlex="100" fxFlex.lt-sm="100" fxLayoutAlign="center center" *ngIf="mostrar">
                            <mat-card-content class="botones" style="margin-top: 2%;">

                                <div fxFlex="50" fxFlex.lt-sm="100">
                                    <button mat-stroked-button color="accent" class="btn-block" type="submit"
                                        class="btn-block" (click)="operar()">Guardar</button>
                                </div>

                                <div fxFlex="50" fxFlex.lt-sm="100">
                                    <button mat-stroked-button color="warn" routerLink="/moduloRutas/visualizarHorarios"
                                        class="btn-block">Cancelar</button>
                                </div>
                            </mat-card-content>
                        </div>

                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>