<div fxLayout="row" fxLayoutAlign="center center" style="background-color: transparent;">
    <mat-card class="box">
        <mat-card-header fxLayout="row" fxLayoutAlign="center center">
            <mat-card-title>
                <h4>Información del Conductor</h4>
            </mat-card-title>
        </mat-card-header>


        <mat-card-content>

            <div fxLayout="row wrap" fxLayoutGap="6px grid" class="matero-form-horizontal">

                <div [hidden]="true">
                    <mat-form-field>
                        <input matInput placeholder="id" [(ngModel)]="bus.id">
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                    <img mat-card-image [src]="urlImagen" *ngIf="urlImagen" style="border: black 1px solid
                    ;width: 200px;height: 130px;">
                </div>


                <div fxFlex="50" fxFlex.lt-sm="100">
                    <mat-form-field>
                        <mat-label>Número del bus</mat-label>
                        <input matInput placeholder="Numero del bus" [(ngModel)]="bus.numero" readonly="readonly">
                    </mat-form-field>

                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                    <mat-form-field>
                        <mat-label>Capacidad del bus</mat-label>
                        <input matInput placeholder="Capacidad del bus" [(ngModel)]="bus.capacidad" readonly="readonly">
                    </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                    <mat-form-field>
                        <mat-label>Número de placa</mat-label>
                        <input matInput placeholder="Placa" [(ngModel)]="bus.placa" readonly="readonly">
                    </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                    <mat-form-field>
                        <mat-label>Nombre del conductor</mat-label>
                        <input matInput placeholder="Nombre del conductor" [(ngModel)]="bus.conductor" type="text"
                            readonly="readonly">
                    </mat-form-field>
                </div>
            </div>

            <mat-card-content fxLayoutAlign="center center">
                    <button mat-stroked-button color="warn" (click)="cancelar()" type="button"
                        class="btn-block">Aceptar</button>
            </mat-card-content>

        </mat-card-content>
    </mat-card>
</div>