<div class="page-wrap">
    <main class="content">
        <div class="register-wrapper" fxLayout="row" fxLayoutAlign="center center">
            <mat-card class="box">
                <mat-card-header>
                    <mat-card-title>
                        <table fxLayout="row" fxLayoutAlign="center center">
                            <tr>
                                <td style="text-align: center;">
                                    <mat-icon class="icono" matSuffix>assignment</mat-icon>
                                    Horarios

                                </td>
                            </tr>
                        </table>
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content class="matero-form-horizontal">
                    <form [formGroup]="form" (ngSubmit)="operar()">

                        <div class="matero-col" fxFlex.gt-sm="50" fxFlex.gt-xs="200" fxFlex="100">

                            <div fxLayout="row wrap" fxLayoutGap="6px grid">

                                <div [hidden]="true">
                                    <mat-form-field>
                                        <input matInput placeholder="id" formControlName="id">
                                    </mat-form-field>
                                </div>

                                <div fxFlex="100" fxFlex.lt-sm="100">
                                    <mat-form-field>
                                        <mat-label>Trayectoria</mat-label>
                                        <mat-select formControlName="trayectoria" [ngModel]="trayectoria"
                                            (ngModelChange)="onChangeC($event)" required>
                                            <mat-option *ngFor="let t of trayectorias" [value]="t.id">
                                                {{t.nombre}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>


                                <div fxFlex="100" fxFlex.lt-sm="100">
                                    <mat-form-field>
                                        <mat-label>Origen</mat-label>
                                        <input matInput placeholder="origen" formControlName="origen"
                                            [(ngModel)]="origen" readonly>
                                    </mat-form-field>
                                </div>

                                <div fxFlex="100" fxFlex.lt-sm="100">
                                    <mat-form-field>
                                        <mat-label>Hora Mañana</mat-label>
                                        <input matInput type="time" placeholder="hora mañana" formControlName="horaOM"
                                            [(ngModel)]="horaOM" required>
                                    </mat-form-field>
                                </div>

                                <div fxFlex="100" fxFlex.lt-sm="100">
                                    <mat-form-field>
                                        <mat-label>Hora Noche</mat-label>
                                        <input matInput type="time" placeholder="hora noche" formControlName="horaON"
                                            [(ngModel)]="horaON" required>
                                    </mat-form-field>
                                </div>

                                <div fxFlex="100" fxFlex.lt-sm="100">
                                    <mat-form-field>
                                        <mat-label>Destino</mat-label>
                                        <input matInput placeholder="destino" formControlName="destino"
                                            [(ngModel)]="destino" readonly>
                                    </mat-form-field>
                                </div>

                                <div fxFlex="100" fxFlex.lt-sm="100">
                                    <mat-form-field>
                                        <mat-label>Horario Mañana</mat-label>
                                        <input matInput type="time" placeholder="hora mañana" formControlName="horaDM"
                                            [(ngModel)]="horaDM" required>
                                    </mat-form-field>
                                </div>

                                <div fxFlex="100" fxFlex.lt-sm="100">
                                    <mat-form-field>
                                        <mat-label>Horario Noche</mat-label>
                                        <input matInput type="time" placeholder="hora noche" formControlName="horaDN"
                                            [(ngModel)]="horaDN" required>
                                    </mat-form-field>
                                </div>

                                <mat-table [dataSource]="dataSource" matSort fxFlex="100" fxFlex.lt-sm="100">

                                    <ng-container matColumnDef="id">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Numero Paradas
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row; let i = index">
                                            <input matInput formControlName="numParadas" value="{{row.parada+1}}"
                                                readonly>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="nombre">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Paradas
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row; let i = index">
                                            <input matInput formControlName="nomParadas" value="{{row.nombre}}"
                                                readonly>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="horarioM">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Horario Mañana
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element; let i = index">
                                            <input matInput type="time" formControlName="horarioM"
                                                [(ngModel)]="horarioM[i]" required>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="horarioN">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Horario Noche
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element; let i = index">
                                            <input matInput type="time" formControlName="horarioN"
                                                [(ngModel)]="horarioN[i]" required>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                                </mat-table>

                                <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                                <mat-card-content class="botones">
                                    <div fxLayout="row wrap" fxLayoutGap="30px grid">
                                        <div fxFlex="50" fxFlex.lt-sm="100">
                                            <button mat-stroked-button color="accent" class="btn-block" type="submit"
                                                [disabled]="form.invalid">Guardar</button>
                                        </div>

                                        <div fxFlex="50" fxFlex.lt-sm="100">
                                            <button mat-stroked-button color="warn" routerLink="/visualizarFormulario"
                                                class="btn-block">Cancelar</button>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </main>
</div>