
 $gutter: 16px !default;

 .page-wrap{
   display:flex;
   flex-direction: column;
   min-height: 100vh;
 }
 
 .spacer{
   flex: 1 1 auto;
 }
 
 .columna {
  width:33%;
  float:left;
}
 
.mat-card{
   margin-bottom: $gutter;
   //background-color:transparent;
   background: rgba(49, 138, 172, 0.5);
   border: 2px solid;
   border-color: #318aac;
 }
 
 .mat-icon {
  background-repeat: no-repeat;
  fill: currentColor;
  height: 40px;
  width: 40px; 
  }

 main{
 display: flex;
 flex-direction: column;
 >*:not(router-outlet){
   flex:1;
   display: block;
 }
}

.example-container {
  position: absolute;
  top: 64px;
  bottom: 40px;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 325px;
  background: rgba(255, 255, 255, 0.4)
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.2);
} 

 