<div fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title fxLayoutAlign="center center">
                <div style="width: 100%;">
                    <h4 style="text-align: center;">Detalle del formulario de {{tipo}} </h4>
                </div>
                <div style="width: 100%;">
                    <h4  style="text-align: center;">
                        <a style="color: red;" *ngIf="colorLetra=='red'">{{estado}}</a>
                        <a style="color: green;" *ngIf="colorLetra=='green'">{{estado}}</a>
                        <a style="color: blue;" *ngIf="colorLetra=='blue'">{{estado}}</a>
                    </h4>
                </div>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <!--Detalle del formulario-->
            <div fxLayout="row wrap" fxLayoutGap="3px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                    <mat-form-field style="width: 90%;">
                        <mat-label>Nombre</mat-label>
                        <input matInput [(ngModel)]="nombre" readonly="readonly">
                    </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                    <mat-form-field style="width: 90%;">
                        <mat-label>Apellido</mat-label>
                        <input matInput [(ngModel)]="apellido" readonly="readonly">
                    </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                    <mat-form-field style="width: 90%;">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="mail" readonly="readonly">
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                    <mat-form-field style="width: 90%;">
                        <mat-label>Teléfono</mat-label>
                        <input matInput [(ngModel)]="telefono" readonly="readonly">

                        <mat-icon matSuffix>smartphone</mat-icon>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.lt-sm="100">
                    <mat-form-field style="width: 90%;">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="10" [(ngModel)]="descripcion" readonly="readonly"
                            style="width: 100%;"></textarea>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.lt-sm="100">
                    <mat-form-field style="width: 90%;">
                        <mat-label>Respuesta</mat-label>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="10" [(ngModel)]="descripcionResp" readonly="readonly"
                            style="width: 100%;"></textarea>
                    </mat-form-field>
                </div>

            </div>
        </mat-card-content>
    </mat-card>
</div>