<div fxLayout="row" fxLayoutAlign="center center" style="background-color: transparent;">
    <mat-card class="box">
        <mat-card-header fxLayout="row" fxLayoutAlign="center center">
            <mat-card-title>
                <h4>Información del Conductor</h4>
            </mat-card-title>
        </mat-card-header>


        <mat-card-content>

            <div fxLayout="row wrap" fxLayoutGap="3px grid">

                <div [hidden]="true">
                    <mat-form-field>
                        <input matInput placeholder="id" [(ngModel)]="conductor.id">
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                    <img mat-card-image [src]="urlImagen" *ngIf="urlImagen" style="width: 125px;height: 145px; border: black 1px solid;">
                </div>


                <div fxFlex="50" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                    <mat-form-field style="width: 90%;">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Nombre del conductor" [(ngModel)]="conductor.nombre"
                            readonly="readonly">
                    </mat-form-field>

                </div>

                <div fxFlex="50" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                    <mat-form-field style="width: 90%;">
                        <mat-label>Apellido</mat-label>
                        <input matInput placeholder="Apellido del conductor" [(ngModel)]="conductor.apellido"
                            readonly="readonly">
                    </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                    <mat-form-field style="width: 90%;">
                        <mat-label>Cédula de identidad</mat-label>
                        <input matInput placeholder="Número de identidad" [(ngModel)]="conductor.cedula" type="number"
                            readonly="readonly">
                        <mat-icon matSuffix>contacts</mat-icon>
                    </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                    <mat-form-field style="width: 90%;">
                        <mat-label>Teléfono</mat-label>
                        <input matInput placeholder="Número de teléfono" [(ngModel)]="conductor.celular" type="number"
                            readonly="readonly">
                        <mat-icon matSuffix>smartphone</mat-icon>
                    </mat-form-field>
                </div>



                <div fxFlex="100" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                    <mat-form-field style="width: 50%;">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" [(ngModel)]="conductor.email" readonly="readonly">
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                </div>

            </div>

            <mat-card-content class="botones" fxLayoutAlign="center center">

                <button mat-stroked-button color="warn" (click)="cancelar()" type="button"
                    class="btn-block">Aceptar</button>

            </mat-card-content>

        </mat-card-content>
    </mat-card>
</div>