<div>
    <mat-card class="sizeCard" style="text-align: center;width: 500px;height: 400px; margin-left:auto;margin-right:auto; margin-top: 10%;">
        <mat-card-content>
            <img alt="Dashboard" class="logo-icon" src="assets/imagenes/notfound.png" width="80%">
            <mat-card-title style="color:white;padding-top: 5%;">Página no encontrada</mat-card-title>
            <div class="centerobj" style="padding-top: 5%;">
                <button mat-flat-button color="primary" [routerLink]="['/home']" >Volver</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
