<div class="page-wrap">
    <main class="content">
        <div class="matero-row" fxLayout="row wrap">

            <div class="matero-col" fxFlex.gt-sm="35" fxFlex.gt-xs="400" fxFlex="100">
                <div class="register-wrapper" fxLayout="row" fxLayoutAlign="center center">
                    <mat-card class="box">
                        <mat-card-header>

                            <mat-card-title>
                                Crear Paradas

                            </mat-card-title>
                        </mat-card-header>

                        <mat-card-content>

                            <div fxLayout="row wrap" fxLayoutGap="6px grid">

                                <div [hidden]="true">

                                    <input matInput placeholder="id">

                                </div>

                                <div fxFlex="100" fxFlex.lt-sm="100">
                                    <mat-label>Conductor</mat-label>
                                    <mat-select required>
                                        <mat-option>
                                            parada1
                                        </mat-option>
                                    </mat-select>
                                </div>


                                <div fxFlex="100" fxFlex.lt-sm="100">
                                    <mat-label>Añadir Paradas
                                    <button mat-icon-button color="accent">
                                        <mat-icon>favorite</mat-icon>
                                    </button>
                                </mat-label>
                                </div>

                                <div fxFlex="100" fxFlex.lt-sm="100">
                                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                                                <!--- Note that these columns can be defined in any order.
                                                      The actual rendered columns are set as a property on the row definition" -->
                                              
                                                <!-- Position Column -->
                                                <ng-container matColumnDef="position">
                                                  <th mat-header-cell *matHeaderCellDef> No. </th>
                                                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                                </ng-container>
                                              
                                                <!-- Name Column -->
                                                <ng-container matColumnDef="name">
                                                  <th mat-header-cell *matHeaderCellDef> Name </th>
                                                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                                </ng-container>
                                              
                                                <!-- Weight Column -->
                                                <ng-container matColumnDef="weight">
                                                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                                                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                                                </ng-container>
                                              
                                                <!-- Symbol Column -->
                                                <ng-container matColumnDef="symbol">
                                                  <th mat-header-cell *matHeaderCellDef> Symbol </th>
                                                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                                </ng-container>
                                              
                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                              </table>
                                </div>





                                </div>

                            <mat-card-content class="botones">
                                <div fxLayout="row wrap" fxLayoutGap="30px grid">
                                    <div fxFlex="50" fxFlex.lt-sm="100">
                                        <button mat-stroked-button color="accent" class="btn-block"
                                            type="submit">Guardar</button>
                                    </div>

                                    <div fxFlex="50" fxFlex.lt-sm="100">
                                        <button mat-stroked-button color="warn" routerLink="/personalAdmin"
                                            class="btn-block">Cancelar</button>
                                    </div>
                                </div>
                            </mat-card-content>


                        </mat-card-content>

                    </mat-card>
                </div>
            </div>
            <div class="matero-col" fxFlex.gt-sm="22" fxFlex.gt-xs="50" fxFlex="100">

                <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>

        </div>
    </main>
</div>