<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start" color="primary" class="main-header4">RUTAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="height: 50vh;">
  <ion-item lines="none" style="margin-top: 2%;">
    <label>
      <!--<h1 class="main-header4 margin-bottom-3">{{name}}</h1>-->
      <h1 class="f_header3 " style="text-align: justify;">Selecciona los filtros para ver la Información de una Ruta. 
        Si presionas sobre un marcador en el mapa podrás visualizar su detalle.</h1>
    </label>
    <!-- <ion-button fill="none" slot="end" color="secondary"  routerLink="/side-menu/food/tabs/tab1/food-category" >View all</ion-button> -->
  </ion-item>

  <ion-list>
    <ion-list-header>
      <ion-label>Selecciona los filtros</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="stacked">
        ZONA
      </ion-label>
      <ion-select placeholder="Selecciona una Zona" interface="popover" name="trayectoria"
        (ngModelChange)="onChangeC($event)" [ngModel]="zona" required style="text-align: center;">
        <ion-select-option value="Norte">Norte</ion-select-option>
        <ion-select-option value="Sur">Sur</ion-select-option>
        <ion-select-option value="Valle">Valle</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        RUTA
      </ion-label>
      <ion-select placeholder="Selecciona una Ruta" interface="popover" name="trayectoria"
        (ngModelChange)="onChange($event)" [ngModel]="trayectoria" required style="text-align: center;">
        <ion-select-option *ngFor="let t of rutas" [value]="t.trayectoria">
          {{t.nombre}}
        </ion-select-option>
      </ion-select>
    </ion-item>


  </ion-list>

  <ion-item lines="none">
    <label>
      <h1 class="main-header4 margin-bottom-3">{{rutanombre}}</h1>
      <h1 class="f_header3 ">{{descripcion}}</h1>
    </label>
    <!-- <ion-button fill="none" slot="end" color="secondary"  routerLink="/side-menu/food/tabs/tab1/food-category" >View all</ion-button> -->
  </ion-item>

  <ion-item style="margin-bottom: 5%;">
    <div #map style="width: 100%;height:48vh;"></div>
  </ion-item>

  <ion-button shape="round" fill="outline" color="primary" (click)="obtenerBusConductor()" class="centrar">Ver Información del Bus y Conductor</ion-button>

</ion-content>



