<div fxLayoutAlign="center center">
    

    <div class="columna" style="height: inherit;" fxLayoutAlign="center center">
        <mat-card class="box">
            <mat-card-header fxLayoutAlign="center center">
                <mat-card-title>
                    <h3>Detalle de la ruta: {{ruta.nombre}}</h3>
                </mat-card-title>
            </mat-card-header>
    
            <mat-card-content>
    
                <div fxLayout="row wrap" fxLayoutGap="6px grid">
    
                    <div [hidden]="true">
                        <input matInput placeholder="id">
                    </div>
    
                    <div fxFlex="100" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                        <mat-form-field style="width: 90%;">
                            <mat-label>Nombre de la ruta</mat-label>
                            <input matInput placeholder="nombre" [(ngModel)]="ruta.nombre" readonly>
                        </mat-form-field>
                    </div>
    
                    <div fxFlex="100" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                        <mat-form-field style="width: 90%;">
                            <mat-label>Descripción</mat-label>
                            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                                cdkAutosizeMaxRows="10" [(ngModel)]="ruta.descripcion" readonly
                                style="width: 100%;"></textarea>
                        </mat-form-field>
                    </div>
    
                    <div fxFlex="50" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                        <mat-form-field style="width: 80%;">
                            <mat-label>Trayectoria</mat-label>
                            <input matInput placeholder="trayectoria" [(ngModel)]="ruta.trayectoria" readonly
                                style="width: 100%;text-align: center;">
                        </mat-form-field>
                    </div>
    
                    <div fxFlex="50" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                        <mat-form-field style="width: 80%;">
                            <mat-label>Bus</mat-label>
                            <input matInput placeholder="bus" [(ngModel)]="ruta.bus" readonly style="width: 100%;text-align: center;">
                        </mat-form-field>
                    </div>
    
                    <div fxFlex="100" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                        <mat-form-field style="width: 30%;">
                            <mat-label>Zonas</mat-label>
                            <input matInput placeholder="zonas" [(ngModel)]="ruta.zona" readonly style="width: 100%;text-align: center;">
                        </mat-form-field>
                    </div>
    
                    <div fxFlex="100" fxFlex.lt-sm="100" fxLayoutAlign="center center">
                        <mat-card-content>
                            <button mat-stroked-button color="warn" (click)="cancelar()" class="btn-block">Aceptar</button>
                        </mat-card-content>
                    </div>
    
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="columna" style="height: inherit;" fxLayoutAlign="center center">
        <div #map
            style="width: 90%;height:550px;border-color: black;border-style: solid;border-width: 1px;margin-top: 1%;">
        </div>
    </div>
</div>