.icono {
    width: 30px;
    height: 36px;
    font-size: 56px;
    padding-right: 5%;
  }
  .centrar{
    display: flex;
    justify-content: center;
  }


  .f_header3{
    // color:#464646 !important;
    // letter-spacing: -1px;
    // font-size: 22px;
    // font-weight: 300;
    margin-top: 0px !important;
    padding-top: 0px !important;
    color:#999 !important;
    letter-spacing: -1px;
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .f_header4{
    // color:#464646 !important;
    // letter-spacing: -1px;
    // font-size: 22px;
    // font-weight: 300;
    margin-top: 0px !important;
    padding-top: 0px !important;
    letter-spacing: -1px;
    font-size: 16px !important;
    font-weight: 400 !important;
  }