<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title color="danger" lass="main-header4">REGISTRARSE</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen=true>
  <ion-grid fixed class="ion-no-padding">
    <div class="register-form ion-margin">
      <ion-text color="dark">
        <h2 text-center class="ion-margin-bottom main-header7">
          Crear una nueva cuenta
        </h2>
      </ion-text>
      <form [formGroup]="registerForm" novalidate>
        <!-- Campos input -->
        <ion-list class="ion-margin-top ion-padding">

          <ion-item class="roundedInput8px margin-bottom-10">
            <ion-label slot="start" class="margin-right-8">
              <ion-icon name="person-outline" color="medium"></ion-icon>
            </ion-label>
            <ion-input type="text" formControlName="firstname" placeholder="Nombre"></ion-input>
          </ion-item>

          <ion-item class="roundedInput8px margin-bottom-10">
            <ion-label slot="start" class="margin-right-8">
              <ion-icon name="people-outline" color="medium"></ion-icon>
            </ion-label>
            <ion-input type="text" formControlName="lastname" placeholder="Apellido"></ion-input>
          </ion-item>

          <ion-item class="roundedInput8px margin-bottom-10">
            <ion-label slot="start" class="margin-right-8">
              <ion-icon name="call-outline" color="medium"></ion-icon>
            </ion-label>
            <ion-input type="text" formControlName="phone" placeholder="Celular"></ion-input>
          </ion-item>

          <ion-item class="roundedInput8px margin-bottom-10">
            <ion-label slot="start" class="margin-right-8">
              <ion-icon name="mail-outline" color="medium"></ion-icon>
            </ion-label>
            <ion-input type="text" formControlName="username" placeholder="Email"></ion-input>
          </ion-item>

          <ion-item class="roundedInput8px margin-bottom-10">
            <ion-label slot="start" class="margin-right-8">
              <ion-icon name="lock-closed-outline" color="medium"></ion-icon>
            </ion-label>

            <ion-input type="text" formControlName="password" placeholder="Contraseña"
              [type]="showPassword ? 'text' : 'password'" clearOnEdit="false"></ion-input>
            <div (click)="onPasswordToggle()" ion-button fill="clear" size="small">
              <ion-icon slot="icon-only" color="medium" [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
            </div>

          </ion-item>

        </ion-list>

        <!-- Error meassage -->
        <ion-text color="danger">
          <p *ngIf="!registerForm.controls.firstname.valid && registerForm.controls.firstname.touched">
            <ion-icon name="information-circle-outline"></ion-icon> El nombre debe tener mínimo 3 caracteres!
            characters long!
          </p>
        </ion-text>
        <ion-text color="danger">
          <p *ngIf="!registerForm.controls.lastname.valid && registerForm.controls.lastname.touched">
            <ion-icon name="information-circle-outline"></ion-icon> El apellido debe tener mínimo 3 caracteres!
          </p>
        </ion-text>
        <ion-text color="danger">
          <p *ngIf="!registerForm.controls.phone.valid && registerForm.controls.phone.touched">
            <ion-icon name="information-circle-outline"></ion-icon> Ingrese un número de teléfono válido!
          </p>
        </ion-text>

        <ion-text color="danger">
          <p *ngIf="!registerForm.controls.username.valid && registerForm.controls.username.touched">
            <ion-icon name="information-circle-outline"></ion-icon> Debe ingresar un email válido!
          </p>
        </ion-text>
        <ion-text color="danger">
          <p *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.touched">
            <ion-icon name="information-circle-outline"></ion-icon> La contraseña debe tener mínimo 6 caracteres!
          </p>
        </ion-text>

        <!-- Submit button -->
        <ion-button mode="ios" color="danger" expand="block" class="ion-margin-top" [disabled]="!registerForm.valid"
          (click)="registerUser()">
          Create
        </ion-button>
        <ion-button mode="ios" color="danger" expand="block" fill="outline" class="ion-margin-top"
          routerLink="/login">
          Cancel
        </ion-button>
      </form>

    </div>
  </ion-grid>
</ion-content>